{{template "header" .}}
<main>
  <div class="kicker">silverscript#234</div>
  <h1>We do not read the other UTXO.</h1>
  <p class="lede">Gramlane’s WorkCredit only updates <em>this</em> voucher. A sequencer that <span class="mono">readInputState</span>s a holder’s credits is the #234 class: attacker reframes pushes, same hash, fake amount. Full byte diagram on KNS: <a href="http://127.0.0.1:8080/234">http://127.0.0.1:8080/234</a></p>
  <p><a class="btn mint" href="http://127.0.0.1:8080/234">Open the 42-byte example</a></p>
</main>
{{template "footer" .}}
